<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<style>

    body {
        padding-top: 50px;
    }
    h1 {
    	text-align: center;
    }
    #logout {
    	margin-top: 2px;
    }
    li {
	font-style: italic;
}
    #logout {
    	margin-top: 2px;
    }
</style>
<title>Homepage: Galleria</title>
<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
		<!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Galleria</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/listaOpere}">Lista Opere</a></li>
						<li><a th:href="@{/listaAutori}">Lista Autori</a></li>
						<li><a th:href="@{/registrati}">Registrati come Admin</a></li>
						<li><a th:href="@{/login}">Login</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ricerca<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/cercaOpere}">Cerca Opera</a></li>
								<li><a th:href="@{/cercaAutore}">Cerca Autore</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Operazioni Admin <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/inserisciOpera}">Inserisci Opera</a></li>
								<li><a th:href="@{/inserisciAutore}">Inserisci Autore</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()">
						<form class="form-inline" th:action="@{/logout}" method="POST">
							<input type="submit" value="LOGOUT" class="btn btn-secondary btn-lg" id="logout" th:sec="hasAuthority('ADMIN')"/>
						</form>
					</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		
		
	 <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Benvenuto sulla Galleria</h1>
            </div>
        </div>
    </div>
</body>
</html>